<nav class=" position-fixed start-0 top-0 end-0 w-auto   shadow-sm p-3 mb-5  p-3 mb-2  " style="height: 75px;  background-color: #ffffff; font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;  overflow: hidden;">
  
  <div id="user" class="position-absolute start-0">
      <button class=" mb-2 bg-transparent bg-body  border-0 " (click)="home()" ><h3 class="settings-button"  style="text-transform: capitalize; ">
        <img *ngIf="user" [src]="'./assets/data/image/bird.png'" class="mb-2 bg-transparent border-0" alt="Account Image" style="height:30px; width:30px; display:inline;" >
        {{ user?.name }}</h3></button>
  </div>


  
  <div id="button" class=" d-flex gap-3 position-absolute end-0">
    
    <button *ngIf="!user" class="mb-2 bg-transparent border-0 button" style="text-decoration:none; display: flex; gap: 30px;">
      <p routerLink="/register" class="settings-button">Register</p>
      <p routerLink="/login" class="settings-button">Login</p>
    </button>
    

    
    <div  (mouseover)="onHover(true)" (mouseleave)="onHover(false)" >
       <img *ngIf="user" [src]="'./assets/data/image/account.png'" class="mb-2 bg-transparent border-0" alt="Account Image" style="height:50px; width:50px; display:inline;" >  
       
       <div  *ngIf="menu" style="position: fixed; right: 20px; background-color: #ffffff; width: 100px;">
        <ul style="list-style-type: none;" class="list-group">
  
          <li class="list-group-item" *ngIf="user"  class="mb-2 bg-transparent  border-0 " ><a routerLink="/posts/user-posts" style="text-decoration:none ; color:black"><img *ngIf="user" [src]="'./assets/data/image/account.png'" class="mb-2 bg-transparent border-0" alt="Account Image" style="height:25px; width:25px; display:inline;" >  Profile</a>
          </li>
          
          <li class="list-group-item" *ngIf="admin" class=" mb-2 bg-transparent   border-0 " ><a  routerLink="/admin" style="text-decoration: none; color:black"><img *ngIf="user" [src]="'./assets/data/image/admin.png'" class="mb-2 bg-transparent border-0" alt="Account Image" style="height:25px; width:25px; display:inline;" >Admin</a></li>
      
          <li class="list-group-item" *ngIf="user"  class=" mb-2 bg-transparent   border-0 settings-button" ><a routerLink="/logout" style="text-decoration:none ; color:black"><img *ngIf="user" [src]="'./assets/data/image/logout.svg'" class="mb-2 bg-transparent border-0" alt="Account Image" style="height:25px; width:25px; display:inline;" > Logout</a></li>
  
        </ul>
      </div>

    </div>
     


  </div>

 
  <div class="loading"></div>
</nav>
<br><br><br>


