<nav class=" position-fixed start-0 top-0 end-0 w-auto   shadow-sm p-3 mb-5  p-3 mb-2  " style="height: 75px; color: white; background-color: #73d2de;">
  
  <div id="user" class="position-absolute start-0">
      <button class=" mb-2 bg-transparent bg-body  border-0 " (click)="home()" ><h3 class="settings-button"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">{{ user?.name }}</h3></button>
  </div>

  <div id="button" class="d-flex gap-3 position-absolute end-0">



    <button *ngIf="user" routerLink="/posts/user-posts" class="mb-2 bg-transparent  border-0 " style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;"><p class="settings-button"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Settings</p>
      
    </button>
    

      <button *ngIf="admin" routerLink="/admin" class=" mb-2 bg-transparent   border-0 " style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;"><p class="settings-button"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Admin</p></button>

      <button *ngIf="!user" routerLink="/login" class=" mb-2 bg-transparent  border-0"  style=" font-family: Georgia, 'Times New Roman', Times, serif; color: white;"><p class="settings-button"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Login</p></button>

      <button *ngIf="!user" routerLink="/register" class=" mb-2 bg-transparent   border-0 " style="text-decoration:none ;font-family: Georgia, 'Times New Roman', Times, serif; color: white;"><p class="settings-button"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Register</p></button>

      <button *ngIf="user" routerLink="/logout" class=" mb-2 bg-transparent   border-0 settings-button" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;"><p class="settings-button" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Logout</p></button>
      
  </div>
  <div class="loading"></div>
</nav>

<br><br>
<br><br>

