
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>update user</h2>
        <div>
          <label for="name">Name</label>
          <input id="name" formControlName="name" required>
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            Name is required.
          </div>
          
        </div>
      
        <div>
          <label for="email">Email</label>
          <input id="email" formControlName="email" required email>
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            A valid email is required.
          </div>
          <div style="color:red;">{{errorMessage}}</div>
        </div>
      
        <div>
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" required>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            Password is required.
          </div>
        </div>
      
        <div>
          <label for="password_confirm">Confirm Password</label>
          <input id="password_confirm" formControlName="password_confirm" type="password" required>
          <div *ngIf="form.errors?.mismatch && form.get('password_confirm')?.touched">
            Passwords do not match.
          </div>
        </div>
      
        <div>
          <label for="roll_no">Roll No</label>
          <input id="roll_no" formControlName="roll_no" required>
          <div *ngIf="form.get('roll_no')?.invalid && form.get('roll_no')?.touched">
            Roll No is required.
          </div>
        </div>
      
        <div>
          <label for="department">Department</label>
          <input id="department" formControlName="department" required>
          <div *ngIf="form.get('department')?.invalid && form.get('department')?.touched">
            Department is required.
          </div>
        </div>
      
        <button type="submit" [disabled]="loading || form.invalid">update</button><br><br>
      
      
    
      </form>
      
      