<nav>
  <a routerLink="/form">Post Create</a> | 
  <a routerLink="/login">Login</a> | 
  <a routerLink="/register">Register</a> | 
  
  <a routerLink="/tags/create">tag create</a>|
  <a routerLink="/tags/update">tag update</a>
</nav>

<div class="container">
  <h1>Posts</h1>
  <div *ngIf="isLoading">Loading posts...</div>

  <div *ngFor="let post of posts" class="post-card">
    <form (ngSubmit)="update(post)">
      <img [src]="post.file_path" alt="Post Image">
      <h2>{{ post.title }}</h2>
      {{post.user_id}}
      <p><strong>Description:</strong> {{ post.description }}</p>
      <p><strong>Content:</strong> {{ post.content }}</p>

      <button type="submit" [value]="post.id">Update</button>
    </form>

    <button (click)="delete(post.id)">Delete</button>
  </div>
</div>

