.report-table {
    border: 1px solid #ddd;
}
.report-table th, .report-table td {
    padding: 10px;
    text-align: left;
}
.action-buttons {
    position: relative;
    top: -50px;
    display: grid;
    gap: 1rem;
    justify-content: center;
}
