<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style=" overflow-x: hidden;">


  <div class="header" style="
 overflow: hidden;
 position: sticky;
 z-index: 999999;
">
    <app-header></app-header>
  </div>

  <app-bread-crumb></app-bread-crumb>
  <br>

 
  
  <div class="content">
    <router-outlet></router-outlet> 
  </div>
  
  <span >

  </span>


<br><br><br>
  <div class="footer">
    <app-fooder></app-fooder>
  </div>

</body>
</html>




