<a routerLink="/tags/create">
  <button class="btn btn-primary">Create Tag</button>
</a>
<a routerLink="/admin">
  <button class="btn btn-primary">Admin</button>
</a>

<h2>Tags</h2>

<!-- Bootstrap Table for displaying tags -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Tag Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tag of tags; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ tag.slug }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="tagUpdate(tag.id)">Update</button>
        <button class="btn btn-primary btn-sm" (click)="tagDelete(tag.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
