<content *ngIf="name">
<div class="container-fluid " >
  <div class="row" >

    <aside class="col-md-3 col-lg-2  p-1 " >

      <div class="mb-4 Welcome">
        <h4 class="text-center" >Welcome, {{ name }}</h4>
        <div class="text-center">
          <img src="https://via.placeholder.com/100" class="rounded-circle" alt="User Avatar">
        </div>
      </div>


      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tags/show" routerLinkActive="active-link">
            <i class="fas fa-tag"></i> Tags
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category/show" routerLinkActive="active-link">
            <i class="fas fa-th"></i> Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show/report" routerLinkActive="active-link">
            <i class="fas fa-chart-line"></i> Reports
          </a>
        </li>
      </ul>
    </aside>


  <main class="col-md-9 col-lg-10 p-4 " style="margin-top: 80px;">

    <div class="container text-center row row-cols-1 row-cols-md-2 ">

      <div class="col admin">
        <p class="h4" style="color:  blue;"><img src="./assets/data/image/account.png" style="height: 50px; width:50px; display: inline; " alt=""> Total Users: <span style="color: royalblue;">{{ userAll.length }}</span></p>
      </div>
    
    
    
      <div class=" col  admin" >
        <p class="h4" style="color:  blue;"><img src="./assets/data/image/video_play.png" style="height: 50px; width:50px; display: inline;" alt=""> Total Posts: <span style="color: royalblue;">{{ posts.posts.length }}</span></p>
      </div>
 

    </div>

    <div class="container text-center row " style="margin-top: 80px; ">

    <div class="col admin">
      <p class="h4" style="color:  blue;"><img src="./assets/data/image/tag.png" style="height: 30px; width:30px; display: inline; " alt=""> Total Tags: <span style="color: royalblue;">{{tagName.length}}</span></p>
    </div>

    <div class="col admin">
      <p class="h4" style="color:  blue;"><img src="./assets/data/image/category.png" style="height: 30px; width:30px; display: inline; " alt=""> Total Categories: <span style="color: royalblue;">{{categoryName.length}}</span></p>
    </div>
    
    </div>
  
    <div class="container text-center row " style="margin-top: 80px;">

      <div class="col admin">
        <p class="h4" style="color:  blue;"><img src="./assets/data/image/report.png" style="height: 30px; width:30px; display: inline; " alt=""> Total Reports: <span style="color: royalblue;">{{report.length}}</span></p>
      </div>
  
      
      </div>

    </main> 
  </div>
</div>
</content>

<div *ngIf="!name">
  <div class="loading"></div>
</div>
