
<nav class="side-nav position-absolute start-0 top-0 end-0  mt-0 p-3 w-auto p-3  " style="height: 75px;">
  

    <div id="user" class="position-absolute  start-0">
      <button  class="btn btn-light rounded-pill" routerLink="/posts/show">{{ user?.name }}</button>
    </div>
  

    <div id="button" class="d-flex gap-3 position-absolute  end-0">

      <button *ngIf="user" routerLink="/posts/user-posts" class="btn btn-light rounded-pill">Settings</button>
  

      <button *ngIf="admin" routerLink="/admin" class="btn btn-light rounded-pill">Admin</button>
  

      <a *ngIf="!user" routerLink="/login" class="btn btn-light rounded-pill">Login</a>
      <a *ngIf="!user" routerLink="/register" class="btn btn-light rounded-pill">Register</a>
  

      <button *ngIf="user" routerLink="/logout" class="btn btn-light rounded-pill">Logout</button>
    </div>
  </nav>
  
  <br><br>
  <br><br>

  