<app-header></app-header>

<main class="container mt-5">
  <div class="side-nav position-absolute start-0  end-0 ml-5 mt-4 p-3 w-auto bg-body-tertiary" style="height: 60px; display: flex;">
    <button class="btn btn-outline-secondary rounded-pill" style="height: 40px;" routerLink="/posts/show">Home</button>
  </div>

  <div class="container mt-5">
    <div class="card mb-4">
      <img [src]="imageUrl + posts.file_path" alt="Post Image" class="card-img-top" style="height: 300px; object-fit: cover;">

      <div class="card-body">
        <h5 class="card-title">{{ posts.title }}</h5>
        <p>{{ postUser.name }}</p>

        <button *ngIf="follow.length === 0" class="btn btn-outline-primary rounded-pill mb-2" style="width: 150px;" (click)="Follow(posts.user_id)">
          Follow
        </button>

        <button *ngIf="!followCheck && user.id !== posts.user_id" class="btn btn-outline-primary rounded-pill mb-2" style="width: 150px;" (click)="Follow(posts.user_id)">
          Follow
        </button>

        <button *ngIf="followCheck && user.id !== posts.user_id" class="btn btn-outline-primary rounded-pill mb-2" style="width: 150px;" (click)="unfollow(posts.user_id)">
          Unfollow
        </button>

        <p class="card-text"><strong>Content:</strong> {{ posts.content }}</p>
        <p class="card-text"><strong>Description:</strong> {{ posts.description }}</p>
        <p>Views: {{ view | json }}</p>

        <div *ngFor="let like of posts.likes">
          <button *ngIf="like.status === 'like' && like.user_id === user.id" class="btn btn-outline-primary mb-2" (click)="deleteLike(posts.id, like.id)" style="border: 0;">
            <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/128/4477/4477657.png" alt="Liked">{{ likes | json }}
          </button>

          <button *ngIf="like.status === 'dislike' && like.user_id === user.id" class="btn btn-outline-primary mb-2" (click)="deleteDislike(posts.id, like.id)" style="border: 0;">
            <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/128/880/880613.png" alt="Disliked">{{ likes | json }}
          </button>

          <div *ngIf="like.user_id !== user.id" class="d-flex gap-3 mb-2">
            <button class="btn btn-outline-primary" routerLink="/like/create/{{ posts.id }}" style="border: 0;">
              <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/128/126/126473.png" alt="Like">{{ likes | json }}
            </button>
            <button class="btn btn-outline-primary" (click)="dislike(posts.id)" style="border: 0;">
              <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/512/10749/10749195.png" alt="Dislike">{{ dislikes | json }}
            </button>
          </div>
        </div>

        <div *ngIf="posts.likes && posts.likes.length === 0" class="d-flex gap-3 mb-2">
          <button class="btn btn-outline-primary" (click)="like(posts.id)" style="border: 0;">
            <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/128/126/126473.png" alt="Like">{{ likes | json }}
          </button>
          <button class="btn btn-outline-primary" (click)="dislike(posts.id)" style="border: 0;">
            <img style="height: 25px; width: 25px;" src="https://cdn-icons-png.flaticon.com/512/10749/10749195.png" alt="Dislike">{{ dislikes | json }}
          </button>
        </div>

        <button class="btn btn-outline-danger mb-3" [routerLink]="['/posts/report', posts.id]">
          Report
        </button>
      </div>
    </div>

    <div class="container mt-4">
      <h2>Comments</h2>

      <div *ngIf="comments && comments.length === 0" class="alert alert-info">
        No comments yet. Be the first to comment!
      </div>

      <form [formGroup]="form" (ngSubmit)="createComment(posts.id)">
        <input type="text" class="form-control" id="comment" formControlName="comment" placeholder="Comment" required><br>
        <button class="btn btn-outline-primary">Submit</button>
      </form>
      <br>

      <div *ngFor="let comment of comments" class="card mb-3">
        <div class="card-body">
          <p class="card-text">{{ comment.content }}</p>

          <button class="btn btn-outline-danger mb-2" [routerLink]="['/comments/report', comment.id]">
            Report
          </button>

          <button *ngIf="comment.user_id === user.id" class="btn btn-outline-danger mb-2" (click)="delteComment(user.id, comment.id)">
            Delete
          </button>

          <button *ngIf="comment.user_id === user.id" class="btn btn-outline-primary mb-2" [routerLink]="['/posts', posts.id, 'comments', comment.id]">
            Update Comment
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<app-fooder></app-fooder>
